body
{

	 background-image: url("../images/car5.jpg");
}

form
{

	display:block;
	background-color:#0086b3;
	width:350px;
	height:400px;
	
	opacity:0.8;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}


.link a:hover 
{
  color: orange;
}